body {
    background-color: var(--bleu-1);
    color: var(--blanc);
    font-family: var(--main);
    font-size: var(--body-1);
    line-height: 140%;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.content__margin-text,
.content__text,
.titre__subheading,
.home,
.home__intro {
    margin: 10px;
}

.content__margin-text,
.content__text {
    margin-bottom: 40px;
}

.content__margin {
    margin-top: 10px;
}


h1, h2, h3, h4 {
    font-family: var(--secondary);
}

h2 {
    font-size: var(--heading-2);
}

h1 {
    font-size: var(--heading-1);
}

h3, h4 {
    color: var(--orange);
}

h3 {
    font-size: var(--subheading);
    padding-top: 20px;
    padding-bottom: 15px;
}

.titre__subheading {
    color: var(--blanc);
    font-size: var(--subheading);
}

h4 {
    font-size: var(--body-1);
}


legend {
    color: var(--gris-1);
    font-size: var(--small-text);
    margin-top: -10px;
    margin-inline: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: var(--blanc);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.home__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25%;
    margin-top: 40%;
}

.home__intro--text {
    margin: 0;
    margin-inline: 10px;
    z-index: 1;
}

p>a {
    font-style: italic;
    font-size: var(--body-1);
}

.about__title {
    padding-top: 20px;
    padding-bottom: 30px;
}

.about__text {
    padding-bottom: 20px;
}


dd {
    margin: 0;
}

.glossary__title,
.glossary__word {
    padding-top: 20px;
    padding-bottom: 5px;
}

.glossary__word {
    font-size: var(--subheading);
    font-weight: bold;
}


.project,
.project__title {
    text-align: center;
}

.project__title {
    font-size: var(--subheading);
    padding-top: 30px;
    line-height: 140%;
}

.project__title--date {
    font-size: var(--body-2);
    font-family: var(--main);
    color: var(--bleu-4);
    padding-top: 5px;
}

.project__name {
    padding-top: 25px;
    padding-bottom: 6px;
    font-size: var(--subheading);
}



