body {
    background-color: var(--bleu-1);
    color: var(--blanc);
    font-family: var(--main);
    font-size: var(--body-1);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--blanc);
    padding-top: 40px;
    padding-bottom: 10px;
}

footer {
    background-color: var(--noir);
    color: var(--blanc);
    padding: 10px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: var(--secondary);
}

h1 {
    font-size: var(--heading-2) ;
}

h2 {
    font-size: var(--subheading) ;
}

h4 {
    color: var(--orange);
    font-size: var(--body-1) ;
}

legend {
    color: var(--gris-1);
    font-size: var(--small-text);
}

article {
    padding: 30px;
    padding-bottom: 60px;
}

ul {
    list-style: none;
    font-style: normal;
}

a {
    color: var(--blanc);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p>a {
    font-style: italic;
    font-size: var(--body-1);
}

p.footer {
    font-size: var(--small-text);
    color: var(--gris-1);
}