img {
    max-width: 100%;
}

video {
   max-width: 100%;
}

.img__lieu--disco,
.img__lieu {
    position: relative;
    z-index: 1;
}

.img__lieu--disco {
    padding-top: 10px;
    padding-bottom: 40px;
}

.img__musique-soprano {
    margin-bottom: -40px;
}

.deepfake {
    display: flex;
    border-radius: 10px;
    max-width: 97%;
    margin: auto;
}

.contact-img {
   margin-bottom: -40px;
}