:root {
/* Color styles */
--noir: #1C1514;
--blanc: #FAFAFA;
--gris-1: #CECAC7;
--gris-2: #E8E7E3;
--bleu-1: #1D096C;
--bleu-2: #2C73D2;
--bleu-3: #4DA9FF;
--bleu-4: #C6E3FF;
--orange: #FFB26B;
--ombre: #677381;

/* Text-size styles */
--heading-1: 1.875rem;
--heading-2: 1.375rem;
--subheading: 1.063rem;
--body-2: 0.875rem;
--body-1: 0.813rem;
--small-text: 0.688rem;

/* police */
--main: 'Overpass', sans-serif;
--secondary: 'Allerta', sans-serif;
}