footer {
    background-color: var(--noir);
    color: var(--blanc);
    padding: 8px;
    text-align: center;
    margin-top: 40px;
}

.footer__list {
    padding: 10px;
    font-size: var(--pied-de-page);
}

.footer__text {
    font-size: var(--small-text);
    color: var(--gris-1);
    padding-top: 30px;
    padding-bottom: 5px;
    margin: 0;
}

.footer__mailto {
    color: var(--gris-1);
    text-decoration: underline;
}

.footer__id {
    font-size: var(--pied-de-page);
    color: var(--gris-2);
    display: flex;
    margin-inline: 6px;
    justify-content: space-between;
}

.footer__mmi {
    display: block;
    text-transform: bold;
    font-size: var(--small-text);
    padding-bottom: 20px;
}

.footer__logo--rlevel {
    display: inline;
}

.footer__logo--mmi {
    width: 64px;
    height: 64px;
    display: flex;
    padding: 10px;   
}

.footer__social {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer__social--icon {
    height: 34px;
    width: 34px;
    margin-inline: 30px;
}

