.header {
    position: relative;
    background-color: var(--blanc);
    padding: 15px;
    padding-bottom: 5px;
    z-index: 3;
}

.header__elt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
