header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--blanc);
    padding: 20px;
}

a.logo {
    position: absolute;
    left : 35%;
    top: 35%;
}

a.langue {
    left: 5%;
}