.animation__border-color {
    display: grid;
    position: relative;
    place-items: center;
    width: 98%;
    border-radius: 10px;
    overflow: hidden;
    background: var(--bleu-1);
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.animation__border-color::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 120%;
    justify-content: center;
    background: linear-gradient(var(--bleu-1), var(--bleu-2));
    animation: animate 6s linear infinite;
}

.animation__border-color::after {
    content: "";
    position: absolute;
    background: var(--bleu-2);
    inset: 0;
    border-radius: 10px;
    opacity: 0.5;
    overflow: hidden;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mmi-hexagone {
    margin-top: -3px;
    margin-left: -1px;
    position: absolute;
    clip-path: polygon(31% 19%, 72% 19%, 92% 54%, 72% 90%, 30% 90%, 10% 55%);
    transform: rotate(30deg);
    background-color: white;
    scale: 1.05;
}

.mmi-hexagone::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 290%;
    border-radius: 10%;
    background: linear-gradient(var(--bleu-3), var(--bleu-1));
    animation: animate 9s alternate infinite;
}

.mmi-hexagone::after {
    content: "";
    background-color: var(--noir);
    inset: 3px;
    position: absolute;
    clip-path: polygon(31% 19%, 72% 19%, 92% 54%, 72% 90%, 30% 90%, 10% 55%);
}

.galerie__film-border--1,
.galerie__film-border--2 {
    display: grid;
    position: relative;
    place-items: center;
    width: 100%;
    background: transparent;
    overflow: hidden;
    margin: -2px;
    margin-top: 0;
    margin-bottom: -2px;
    padding: 2px;
    border-radius: 2px;
}

.galerie__film-border--1::before,
.galerie__film-border--2::before {
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    background: linear-gradient(var(--bleu-2), var(--bleu-4));
    animation: gradient 5s alternate infinite;
}

.galerie__film-border--1::after {
    animation: gradient 5s alternate infinite;
}

.galerie__film-border--2::after {
    animation: gradient 6s reverse infinite;
}

@keyframes gradient {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animation__home {
    display: grid;
    position: relative;
    place-items: center;
    width: 99%;
    overflow: hidden;
    margin: -2px;
    padding: 2px;
    border-radius: 22px;
}

.animation__home::before {
    content: "";
    position: absolute;
    height: 200%;
    width: 200%;
    background: linear-gradient(var(--bleu-3), var(--bleu-2));
    animation: gradient 4s alternate infinite;
}