article {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

article h2 {
    margin-inline: 10px;
    line-height: 150%;
}

.article__img {
    border-radius: 5%;
    margin-top: 12px;
    position: relative;
}
