article {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

article h2 {
    margin-inline: 10px;
    line-height: 150%;
}

.article__img,
.article__img--film {
    border-radius: 5%;
    margin-top: 12px;
    position: relative;
}

.film__profil {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.article__img--film {
    margin-top: 17px;
    max-width: 75%;
}