.couverture {
    position: relative;
}

.couverture__titre--film {
    position: absolute;
    right: 12px;
    bottom: 100px;
    line-height: 250%;
    margin-left: 130px;
    text-align: right;
    text-shadow: black 1px 1px 8px;
}

.couverture__titre--strong {
    margin-right: 5px;
    margin-bottom: 2px;
}

.couverture__titre--crainte {

}

.couverture__titre--lieu {

}

.couverture__titre--livre {
    
}