.couverture {
    position: relative;
}
.couverture__titre--crainte,
.couverture__titre--espoir,
.couverture__titre--musique,
.couverture__titre--lieu,
.couverture__titre--livre,
.couverture__titre--film {
    position: absolute;
    line-height: 250%;
}

.couverture__titre--musique,
.couverture__titre--lieu,
.couverture__titre--livre,
.couverture__titre--film {
    text-align: right;
}

.couverture__titre--film {
    right: 12px;
    bottom: 100px;
    margin-left: 130px;
    text-shadow: black 1px 2px 8px;
}

.titre__strong--film {
    margin-right: 5px;
    margin-bottom: 2px;
}

.couverture__titre--lieu {
    color: var(--bleu-1);
    left: 40px;
    bottom: 90px;
    text-shadow: var(--ombre) 1px 2px 6px;
}

.titre__strong--lieu {
    margin-right: 18px;
    margin-bottom: 15px;
}

.couverture__titre--livre {
    right: 15px;
    bottom: 320px;
    text-shadow: var(--noir) 2px 2px 8px;
}

.titre__strong--livre {
    margin-right: 10px;
    margin-bottom: 5px;
}

.couverture__titre--crainte {
    color: var(--noir);
    right: 40px;
    top: 110px;
    text-shadow: var(--noir) 1px 1px 1px;
    text-align: center;
}

.couverture__titre--musique {
    color: var(--noir);
    top: 110px;
    margin-left: 30px;
    margin-right: 108px;
    text-shadow: var(--ombre) 1px 2px 8px;
}

.couverture__titre--espoir {
    color: var(--bleu-1);
    top: 110px;
    left: 40px;
    text-shadow: var(--ombre) 1px 2px 6px;
}

.titre__strong--espoir {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 50px;
}