.couverture {
    position: relative;
    margin-bottom: 30px;
    contain: content;
    max-width: 750px;
}
.couverture__titre--crainte,
.couverture__titre--crainte--en,
.couverture__titre--espoir,
.couverture__titre--musique,
.couverture__titre--lieu,
.couverture__titre--livre,
.couverture__titre--film {
    position: absolute;
    line-height: 250%;
}

.couverture__titre--musique,
.couverture__titre--lieu,
.couverture__titre--livre,
.couverture__titre--film {
    text-align: right;
}

.couverture__titre--film {
    right: 3%;
    bottom: 13%;
    margin-left: 130px;
    text-shadow: black 1px 2px 8px;
}

.titre__strong--film {
    margin-right: 5px;
    margin-bottom: 2px;
}

.couverture__titre--lieu {
    color: var(--bleu-1);
    right: 6%;
    bottom: 12%;
    text-shadow: var(--ombre) 1px 2px 4px;
}

.titre__strong--lieu {
    margin-right: 18px;
    margin-bottom: 15px;
}

.couverture__titre--livre {
    right: 4%;
    bottom: 44%;
    text-shadow: var(--noir) 2px 2px 8px;
}

.titre__strong--livre {
    margin-right: 10px;
    margin-bottom: 5px;
}

.couverture__titre--crainte {
    color: var(--noir);
    right: 5%;
    left: 5%;
    top: 15%;
    text-shadow: var(--noir) 1px 1px 40px;
    text-align: center;
}

.couverture__titre--musique {
    color: var(--noir);
    top: 15%;
    right: 30%;
    margin-left: 15px;
    text-shadow: var(--ombre) 1px 2px 9px;
}

.couverture__titre--espoir {
    color: var(--bleu-1);
    top: 15%;
    left: 9%;
    text-shadow: var(--ombre) 1px 2px 12px;
}

.titre__strong--espoir {
    margin-top: 13%;
    margin-left: 17%;
}