.frise {
    position: relative;
    max-width: 1080px;
}

.frise__container {
    background-color: var(--bleu-2);
    margin: 5px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.frise__date--droite,
.frise__date--gauche {
    font-size: 40px;
    text-shadow: var(--noir) 3px 3px 5px;
    font-weight: bold;
    position: absolute;
    margin-top: 40px;
}

.frise__date--droite {
    right: 10%;
}

.frise__date--gauche {
    left: 10%;
}

.frise__titre {
    color: var(--bleu-1);
    text-align: center;
    padding: 0;
    padding-bottom: 5px;
}

.frise__card--droite,
.frise__card--gauche {
    background-color: var(--bleu-4);
    color: var(--noir);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 50%;
    max-width: 300px;
    min-height: 300px;
    position: relative;
    z-index: 1;
}

.frise__card--droite {
    left: 38%;
    box-shadow: var(--noir) -2px 3px 10px;
}

.frise__card--gauche {
    box-shadow: var(--noir) 2px 3px 10px;
}