.galerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-inline: 20px;
    text-align: center;
    position: relative;
    color: var(--orange);
}

.galerie__court,
.galerie__long {
    padding-bottom: 20px;
}