.pattern--left,
.pattern--right,
.pattern__lieu--droit-haut,
.pattern__lieu--droit-bas,
.pattern__lieu {
    background: radial-gradient(circle, var(--bleu-3) 40%, transparent 5%);
    background-size: 1em 1em;
    height: 24%;
    width: 80%;
    position: absolute;
}

.pattern--right {
    right: 0;
}

.pattern--left {
    left: 0;
}

.pattern--img,
.pattern--long,
.pattern--court,
.frise__pattern-droit,
.frise__pattern-gauche {
    position: absolute;
}

.pattern--img {
    margin-left: -20px;
}

.pattern--orange {
    background: radial-gradient(circle, var(--orange) 40%, transparent 5%);
    background-size: 1em 1em;
    height: 35%;
    width: 76%;
    position: absolute;
    right: 30px;
}

.pattern__lieu--droit-bas,
.pattern__lieu--droit-haut,
.pattern__lieu {
    width: 63%;
    height: 5%;
}

.pattern__lieu--droit-bas,
.pattern__lieu--droit-haut {
    right: 0;
}

.pattern__lieu--droit-bas {
    margin-top: 245px;
}

.pattern__lieu--droit-haut {
    margin-top: -15px;
}

.pattern__lieu {
    margin-top: -22px;
    width: 155px;
}

.pattern--court,
.pattern--long,
.pattern__triangle {
    margin-inline: 5px;
    max-width: 97%;
}

.frise__pattern-droit,
.frise__pattern-gauche {
    width: 80%;
    margin-top: 75px;
}

.frise__pattern-droit {
    left: 45px;
}

.frise__pattern-gauche {
    right: 45px;
}