.pattern--left,
.pattern--right,
.pattern__lieu--droit-haut,
.pattern__lieu--droit-bas,
.pattern__lieu {
    background: radial-gradient(circle, var(--bleu-3) 40%, transparent 5%);
    background-size: 1em 1em;
    height: 24%;
    width: 80%;
    position: absolute;
    margin: auto;
}

.pattern--right {
    right: 0;
    margin-top: -12px;
    border-radius: 0 33px 0 0;
}

.pattern--left {
    left: 0;
    margin-top: -12px;
    border-radius: 33px 0 0 0;
}

.pattern--img,
.pattern--long,
.pattern--court,
.frise__pattern-droit,
.frise__pattern-gauche {
    position: absolute;
}

.pattern--img {
    left: 0;
    top: 80px;
}

.pattern--orange {
    background: radial-gradient(circle, var(--orange) 40%, transparent 5%);
    background-size: 1em 1em;
    height: 35%;
    width: 76%;
    position: absolute;
    right: 30px;
}

.pattern__lieu--droit-bas,
.pattern__lieu--droit-haut,
.pattern__lieu {
    width: 63%;
    height: 5%;
}

.pattern__lieu--droit-bas,
.pattern__lieu--droit-haut {
    right: 0;
}

.pattern__lieu--droit-bas {
    margin-top: 245px;
}

.pattern__lieu--droit-haut {
    margin-top: -15px;
}

.pattern__lieu {
    margin-top: -22px;
    width: 155px;
}

.pattern--court,
.pattern--long {
    margin-inline: 5px;
}

.pattern--court,
.pattern--long {
    max-width: 97%;
}

.frise__pattern-droit,
.frise__pattern-gauche {
    max-width: 80%;
    margin-top: 75px;
    z-index: 1;
}

.frise__pattern-droit {
    left: 12%;
}

.frise__pattern-gauche {
    right: 12%;
}

.frise__triangle {
    border-style: solid;
    border-width: 250px;
    border-bottom-width: 0;
    border-top-width: 150px;
    border-color: var(--bleu-2) transparent transparent transparent;
}

.frise__triangle-container {
    display: grid;
    justify-content: center;
    contain: content;
    margin-inline: 5px;
    max-width: 100%;
}