.patternA {
    background: radial-gradient(circle, var(--noir) 40%, transparent 5%);
    background-size: 2em 2em;
    
}

.patternB {
    background: radial-gradient(circle, var(--bleu-2) 40%, transparent 5%);
    background-size: 2em 2em;
    block-size: 300px;

    /* test à suppr */
    border: 1px solid var(--bleu-2);
}

/* test à suppr */
article {
    border: 1px solid var(--noir);
}